
@{
    ViewBag.Title = "Index";
}

<h2>GRID TABLE</h2>
<style>
    div{
        height: 50px; 
    }
</style>

<div class="container">
    <div class="col-lg-6 bg-danger">
        <div class="col-lg-3 bg-info">3</div>
        <div class="col-lg-3 bg-primary">3</div>
        <div class="col-lg-3 bg-info">3</div>
        <div class="col-lg-3 bg-primary">3</div>

    </div>
    <div class="col-lg-6 bg-primary">6</div>
</div>


<div class="container">

    <div class="col-lg-3 bg-primary">3</div>

    <div class="col-lg-9 bg-danger ">
        <div class="col-lg-3 bg-success">3</div>
        <div class="col-lg-9 bg-info ">9</div>
    </div>
</div>

<div class="container">

    <div class="col-lg-9 bg-danger">
        <div class="col-lg-3 bg-info">3</div>
        <div class="col-lg-3 bg-success">3</div>
        <div class="col-lg-3 bg-danger">3</div>
        <div class="col-lg-3 bg-warning">3</div>
     </div>

    <div class="col-lg-3 bg-primary"></div>

</div>

